@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-body: #f4f4f4;
}

@theme {
  --color-brand-purple: #6f2fef;
  --color-brand-indigo: #413ecf;
  --color-brand-blue: #1f78ff;
  --color-brand-accent: #325ffe;
  --color-brand-gray: #767676;
  --color-brand-gray-dark: #585858;
  --color-brand-surface: #f4f4f4;
}

@theme inline {
  --color-background: var(--background-body);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background-body);
  color: var(--foreground);
}

.bg-brand-gradient {
  background-image: linear-gradient(
    220deg,
    var(--color-brand-purple) 6%,
    var(--color-brand-indigo) 49%,
    var(--color-brand-blue) 93%
  );
}

.text-brand-gradient {
  background-image: linear-gradient(
    220deg,
    var(--color-brand-purple) 6%,
    var(--color-brand-indigo) 49%,
    var(--color-brand-blue) 93%
  );
  background-clip: text;
  color: transparent;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* ===== Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(118, 118, 118, 0.5) rgba(118, 118, 118, 0.15);
}

/* ===== Chrome, Safari, Edge, Opera ===== */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  background: rgba(118, 118, 118, 0.15);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(118, 118, 118, 0.5);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 88, 88, 0.7);
}
